# hrm, may want to move this feller later
config.js

debug/

# deps
node_modules/

# windows dev, don't laugh
node.exe
blessed
blessed.cmd
mkdirp
mkdirp.cmd
node-supervisor
node-supervisor.cmd
nodevars.bat
npm
npm.cmd
npx
npx.cmd
supervisor
supervisor.cmd
